<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Appointment</title>
    <link rel="stylesheet" href="/static/style_2.css">
</head>
<body>
    <h2>Book Appointment</h2>
    <form action="/appointments/book" method="post" id="appointmentForm">
        <label for="doctor_id">Select Doctor:</label>
        <select name="doctor_id" id="doctor_id">
            {% for doctor in doctors %}
                <option value="{{ doctor.id }}">{{ doctor.name }}</option>
            {% endfor %}
        </select>
        <label for="day">Select Day:</label>
        <select name="day" id="day" required>
            <option value="Monday">Monday</option>
            <option value="Tuesday">Tuesday</option>
            <option value="Wednesday">Wednesday</option>
            <option value="Thursday">Thursday</option>
            <option value="Friday">Friday</option>
            <option value="Saturday">Saturday</option>
            <option value="Sunday">Sunday</option>
        </select>
        <button type="submit">Book Appointment</button>
    </form>
    
    <p>{{ result_message }}</p>
    <p>{{ result_messages }}</p>

    
    <li><a href="/">Go to Homepage</a></li>
</body>
</html>
