<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor Appointments</title>
    
    <link rel="stylesheet" href="/static/style_1.css">
    
</head>
<body>
    <h2>Doctor Information</h2>
    <p>Name: {{ doctor.name }}</p>
    <p>Location: {{ doctor.location }}</p>
    <p>Availability: {{ doctor.availability }}</p>
    <p>Max Patients: {{ doctor.max_patients }}</p>
    <p>Schedule: {{ doctor.schedule }}</p>
    <p>Appointments Booked: {{ doctor.appointments_booked }}</p>

    <ul>
        <li><a href="/doctors">Go Back</a></li>
        <li><a href="/">Go to Homepage</a></li>
    </ul>
</body>
</html>
