<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctors List</title>
</head>
<body>
    <h1>Doctors List</h1>
    <ul>
        {% for doctor in doctors %}
            <li>
                <strong><a href="{{ url_for('get_doctor', doctor_id=doctor.id) }}">{{ doctor.name }}</a></strong> - 
                Id: {{ doctor.id }}
                Location: {{ doctor.location }} - 
                Availability: {{ doctor.availability }} - 
                Max Patients: {{ doctor.max_patients }}
                <ul>
                    {% for day, availability in doctor.schedule.items() %}
                        <li>{{ day }}: {{ availability }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>

    <li><a href="/">Go to Homepage</a></li>
</body>
</html>
